body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #f0f0f0;
    transition: background 0.3s;
}

body.dark {
    background: #121212;
    color: #fff;
}

.container img {
    width: 300px;
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}